@model BgTaxi.Models.DriversCompanyViewModel
@{
    ViewBag.Title = "Профил";
}

<h2 style="text-align:center">@ViewBag.Title.</h2>
<div class="container">


    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Обща информация", "Index")</li>
            <li class="active">@Html.ActionLink("Шофьори", "Drivers")</li>

            <li >@Html.ActionLink("Автомобили", "Cars")</li>
        </ul>
    </div>

    <div class="col-md-9">

        <h4>Основна информация за акаунта</h4>
        <hr />

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>Фамилия</th>
                        <th>Имейл</th>
                        <th>Телефон</th>
                    </tr>
                </thead>
                <tbody>
                   @for (var i=0; i<Model.Users.Count; i++)
                   {
                       
                    <tr>
                        <td>@Model.Users[i].FirstName</td>
                        <td>@Model.Users[i].LastName</td>
                        <td>@Model.Users[i].Email</td>
                        <td>@Model.Users[i].PhoneNumber</td>
                        <td>@using (Ajax.BeginForm("RemoveDriverFromCompany", new { id = Model.Drivers[i].Id }, new AjaxOptions { UpdateTargetId = "formsIndex" }))
                        { if (i == 0)
                            {@Html.AntiForgeryToken() }<input type="submit" class="btn btn-danger" value="Премахни" /> }</td>
                    </tr>
                   }
                   
                </tbody>
            </table>

            <div id="changeBtn" class="btn btn-default" style="float: left;" onclick="change()">Промени</div>
            <div id="submitBtn" class="form-group" style="float: left; visibility: hidden;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Запази" />
                </div>
            </div>


        <script>
        function change() {


            document.getElementById("changeBtn").remove();
            document.getElementById("submitBtn").style.visibility = "visible";

            for (var i in document.getElementsByClassName("form-control")) {
                document.getElementsByClassName("form-control")[i].attributes.removeNamedItem("disabled");
            }



        }

        </script>
    </div>
</div>
